inputs:
  - name: ppx_open
    metadata: "https://data.nextstrain.org/files/workflows/mpox/metadata.tsv.zst"
    sequences: "https://data.nextstrain.org/files/workflows/mpox/sequences.fasta.zst"
  - name: ppx_restricted
    metadata: "https://data.nextstrain.org/files/workflows/mpox/metadata_restricted.tsv.zst"
    sequences: "https://data.nextstrain.org/files/workflows/mpox/sequences_restricted.fasta.zst"

auspice_config: "defaults/mpxv/auspice_config.json"
include: "defaults/mpxv/include.txt"
exclude: "defaults/exclude.txt"
reference: "defaults/reference.fasta"
genome_annotation: "defaults/genome_annotation.gff3"
genbank_reference: "defaults/reference.gb"
lat_longs: "defaults/lat_longs.tsv"
color_ordering: "defaults/color_ordering.tsv"
color_scheme: "defaults/color_schemes.tsv"
description: "defaults/description.md"
clades: "defaults/clades.tsv"
tree_mask: "defaults/tree_mask.tsv"

strain_id_field: "PPX_accession"

build_name: "mpxv"
auspice_name: "mpox_all-clades"

filter:
  min_date: 1950
  min_length: 100000
  query: "(QC_rare_mutations == 'good' | QC_rare_mutations == 'mediocre')"

### Set 1: Non-B.1 sequences: use all
### Set 2: B.1 sequences: small sample across year/country, maybe month
subsample:
  non_b1: >-
    --group-by clade year country
    --sequences-per-group 50
    --exclude-where
    lineage!=
  b1: >-
    --group-by country year
    --subsample-max-sequences 500
    --exclude-where
    lineage=

## align
max_indel: 10000
seed_spacing: 1000

## treefix
fix_tree: true

## refine
timetree: false
root: "min_dev"
clock_rate: 3e-6
clock_std_dev: 6e-6
divergence_units: "mutations-per-site"

traits:
  columns: []
  sampling_bias_correction: 3

## recency
recency: true

mask:
  from_beginning: 1350
  from_end: 6422
  maskfile: "defaults/mask_overview.bed"
