clade-iib:
  root: "MT903346 AY603973"
  min_date: "--min-date 2017"
  exclude_where: "--exclude-where clade!=IIb"
  subsampling: "--subsample-max-sequences 1000 --group-by clade lineage year month country --probabilistic-sampling"
  general_include: "resources/include_accessions.txt"

clade-i:
  root: "reconstructed_ancestral_mpox"
  min_date: ""
  exclude_where: "--exclude-where clade!=I"
  subsampling: "--subsample-max-sequences 300 --group-by clade lineage year month country --probabilistic-sampling"
  annotation: "resources/clade-i/genome_annotation.gff3"
  genes: "resources/clade-i/genes.txt"
  general_include: "resources/clade-i/include_accessions.txt"

all-clades:
  root: "reconstructed_ancestral_mpox"
  min_date: ""
  exclude_where: ""
  subsampling: "--subsample-max-sequences 1000 --group-by clade lineage year month country --probabilistic-sampling"
  general_include: "resources/include_accessions.txt"

lineage-b.1:
  root: "ref_in_coord"
  min_date: "--min-date 2022"
  exclude_where: "--exclude-where outbreak!=hMPXV-1 lineage=A.2 lineage=A.2.1 lineage=A.2.2 lineage=A.2.3 lineage=A lineage=A.1
    lineage=A.3"
  subsampling: "--subsample-max-sequences 2000 --group-by clade year month country --probabilistic-sampling"
  general_include: "resources/include_accessions.txt"

## filter
min_length: 160000
