clade-iib:
  root: "PP_000T2N0 PP_000ZG3D"
  min_date: "--min-date 2017"
  exclude_where:
    b1: "--exclude-where clade!=IIb"
    nonb1: >-
      --exclude-where clade!=IIb lineage=B.1 lineage=B.1.1 lineage=B.1.2 lineage=B.1.3 lineage=B.1.4 lineage=B.1.5 lineage=B.1.6
      lineage=B.1.7 lineage=B.1.8 lineage=B.1.9 lineage=B.1.10 lineage=B.1.11 lineage=B.1.12 lineage=B.1.13 lineage=B.1.14
      lineage=B.1.15 lineage=B.1.16 lineage=B.1.17 lineage=B.1.18 lineage=B.1.19 lineage=B.1.20 lineage=B.1.21 lineage=B.1.22
      lineage=B.1.23 lineage=C.1 lineage=C.2 lineage=C.3 lineage=C.4 lineage=C.5 lineage=C.6
      lineage=D.1 lineage=D.2 lineage=D.3 lineage=D.4 lineage=D.5 lineage=D.6 
      lineage=E.1 lineage=E.2 lineage=E.3 lineage=E.4 lineage=E.5 lineage=E.6 
      lineage=F.1 lineage=F.2 lineage=F.3 lineage=F.4 lineage=F.5 lineage=F.6
      lineage=C.1.2 lineage=C.1.3 lineage=E.4 lineage=E.1.1 lineage=E.2.1 lineage=E.3.1 lineage=F.2.1 lineage=F.4.1 lineage=J.1
  subsampling:
    b1: "--subsample-max-sequences 1000 --group-by clade lineage year month country --probabilistic-sampling"
    nonb1: "--subsample-max-sequences 300 --group-by clade lineage year month country --probabilistic-sampling"
  general_include: "resources/include_accessions.txt"

clade-i:
  root: "reconstructed_ancestral_mpox"
  min_date: ""
  exclude_where:
    b1: "--exclude-where clade=II clade=IIa clade=IIb clade=outgroup clade=Ia"
    nonb1: "--exclude-where clade=II clade=IIa clade=IIb clade=outgroup clade=Ib"
  subsampling:
    b1: "--subsample-max-sequences 1000 --group-by clade lineage year month country --probabilistic-sampling"
    nonb1: "--subsample-max-sequences 1000 --group-by clade lineage year month country --probabilistic-sampling"
  annotation: "resources/clade-i/genome_annotation.gff3"
  genes: "resources/clade-i/genes.txt"
  general_include: "resources/clade-i/include_accessions.txt"
  genes_to_exclude:
    - OPG001_dup
    - OPG002_dup
    - OPG003_dup
    - OPG005
    - OPG015_dup
    - OPG016

all-clades:
  root: "reconstructed_ancestral_mpox"
  min_date: ""
  exclude_where:
    b1: "--exclude-where outbreak=hMPXV-1"
    nonb1: "--exclude-where outbreak!=hMPXV-1"
  subsampling:
    b1: "--subsample-max-sequences 500 --group-by clade lineage year country --probabilistic-sampling"
    nonb1: "--subsample-max-sequences 800 --group-by clade lineage year country --probabilistic-sampling"
  general_include: "resources/include_accessions.txt"
  genes_to_exclude:
    - OPG001_dup
    - OPG002_dup
    - OPG003_dup
    - OPG015_dup

lineage-b.1:
  root: "ref_in_coord"
  min_date: ""
  exclude_where:
    b1: >-
      --min-date 2022 --exclude-where outbreak!=hMPXV-1 lineage=A.2 lineage=A.2.1 lineage=A.2.2 lineage=A.2.3 lineage=A.2.4 lineage=A.2.5 
      lineage=G.1 lineage=H.1 lineage=H.2 lineage=A lineage=A.1
    # The nonb1 here is a misnomer, it should be "recent-b1" but this way we keep the structure of the config file
    nonb1: >-
      --min-date 2024 --exclude-where outbreak!=hMPXV-1 lineage=A.2 lineage=A.2.1 lineage=A.2.2 lineage=A.2.3 lineage=A.2.4 lineage=A.2.5 
      lineage=G.1 lineage=H.1 lineage=H.2 lineage=A lineage=A.1
  subsampling:
    b1: "--subsample-max-sequences 2000 --group-by clade lineage year month country --probabilistic-sampling"
    nonb1: "--subsample-max-sequences 2000 --group-by clade lineage year month country --probabilistic-sampling"
  general_include: "resources/include_accessions.txt"

## filter
min_length: 160000
