reference: "defaults/reference.fasta"
genome_annotation: "defaults/genome_annotation.gff3"
genbank_reference: "defaults/reference.gb"
include: "defaults/clade-i/include.txt"
clades: "defaults/clades.tsv"
lat_longs: "defaults/lat_longs.tsv"
auspice_config: "defaults/clade-i/auspice_config.json"
description: "defaults/description.md"
tree_mask: "defaults/tree_mask.tsv"

# Use `accession` as the ID column since `strain` currently contains duplicates¹.
# ¹ https://github.com/nextstrain/mpox/issues/33
strain_id_field: "accession"
display_strain_field: "strain"

build_name: "clade-i"
auspice_name: "mpox_clade-I"

filter:
  min_date: 1900
  min_length: 100000


### Filter to only Clade I sequences
subsample:
  everything:
    group_by: ""
    sequences_per_group: ""
    query: "'clade in [\"I\", \"Ia\", \"Ib\"]'"

## align
max_indel: 10000
seed_spacing: 1000

## treefix
fix_tree: true
treefix_root: "" # without a root we'll midpoint root which should work great for clade I

## refine
timetree: true
root: "best"
# Clock rate chosen via treetime inference on Clade-I data excluding Clade-Ib seqs (n=73)
# TODO: update this once more public data is available.
clock_rate: 1.465e-06
clock_std_dev: 6.7e-07
divergence_units: "mutations"


traits:
  columns: region country
  sampling_bias_correction: 3

## recency
recency: true

mask:
  from_beginning: 800
  from_end: 6422
  maskfile: "defaults/mask.bed"

colors:
  ignore_categories: "division location"
