inputs:
  - name: pathoplexus
    metadata: "https://data.nextstrain.org/files/workflows/mpox/branch/ppx/metadata.tsv.zst"
    sequences: "https://data.nextstrain.org/files/workflows/mpox/branch/ppx/sequences.fasta.zst"

reference: "defaults/clade-i/reference.fasta"
genome_annotation: "defaults/clade-i/genome_annotation.gff3"
genbank_reference: "defaults/clade-i/reference.gb"
include: "defaults/clade-i/include.txt"
exclude: "defaults/exclude.txt"
clades: "defaults/clade-i/clades.tsv"
lat_longs: "defaults/lat_longs.tsv"
color_ordering: "defaults/color_ordering.tsv"
color_scheme: "defaults/color_schemes.tsv"
auspice_config: "defaults/clade-i/auspice_config.json"
description: "defaults/description.md"
tree_mask: "defaults/clade-i/tree_mask.tsv"

strain_id_field: "PPX_accession"

build_name: "clade-i"
auspice_name: "mpox_clade-I"

filter:
  min_date: 1900
  min_length: 170000
  query: "(QC_rare_mutations == 'good' | QC_rare_mutations == 'mediocre')"


### Filter to only Clade I sequences
subsample:
  everything: >-
    --query 'clade in ["I", "Ia", "Ib"]'

## align
max_indel: 10000
seed_spacing: 1000

## treefix
fix_tree: true
treefix_root: "" # without a root we'll midpoint root which should work great for clade I

## refine
timetree: false # Disable as rates vary too much depending on clade/outbreak
root: "best"
# Clock rate chosen via treetime inference on Clade-I data excluding Clade-Ib seqs (n=73)
# TODO: update this once more public data is available.
clock_rate: 1.465e-06
clock_std_dev: 6.7e-07
divergence_units: "mutations"


traits:
  columns:
    - region
    - country
  sampling_bias_correction: 3

## recency
recency: true

mask:
  from_beginning: 800
  from_end: 6422
  maskfile: "defaults/clade-i/mask.bed"

colors:
  ignore_categories:
    - division
    - location
