# Default configs used by Nextstrain automation

# Custom rules to run as part of the Nextstrain automated workflow
# The paths should be relative to the ingest directory.
custom_rules:
  - build-configs/nextstrain-automation/nextstrain_automation.smk

# Params for uploads
upload:
  # Upload params for AWS S3
  s3:
    # AWS S3 Bucket with prefix
    dst: 's3://nextstrain-data/files/workflows/mpox'
    # Mapping of files to upload, with key as remote file name and the value
    # the local file path relative to the ingest directory.
    # to avoid duplicate files with different compressions
    files_to_upload:
      ppx_with_restricted.ndjson.zst: results/ppx.ndjson.zst

      nextclade_with_restricted.tsv.zst: results/nextclade.tsv
      alignment_with_restricted.fasta.zst: results/alignment.fasta
      translations_with_restricted.zip: results/translations.zip

      metadata.tsv.zst: results/metadata_open.tsv
      sequences.fasta.zst: results/sequences_open.fasta
      metadata_restricted.tsv.zst: results/metadata_restricted.tsv
      sequences_restricted.tsv.zst: results/sequences_restricted.fasta

    cloudfront_domain: 'data.nextstrain.org'

# Toggle for Slack notifications
send_slack_notifications: True

# Toggle for triggering builds
trigger_rebuild: True
