inputs:
  - name: pathoplexus
    metadata: "https://data.nextstrain.org/files/workflows/mpox/metadata_with_restricted.tsv.zst"
    sequences: "https://data.nextstrain.org/files/workflows/mpox/sequences_with_restricted.fasta.zst"

reference: "defaults/reference.fasta"
genome_annotation: "defaults/genome_annotation.gff3"
genbank_reference: "defaults/reference.gb"
include: "defaults/hmpxv1_big/include.txt"
exclude: "defaults/exclude.txt"
clades: "defaults/clades.tsv"
lat_longs: "defaults/lat_longs.tsv"
color_ordering: "defaults/color_ordering.tsv"
color_scheme: "defaults/color_schemes.tsv"
auspice_config: "defaults/hmpxv1_big/auspice_config.json"
description: "defaults/description.md"
tree_mask: "defaults/tree_mask.tsv"

strain_id_field: "PPX_accession"

build_name: "hmpxv1_big"
auspice_name: "mpox_lineage-B.1"

filter:
  min_date: 2022
  min_length: 180000
  query: "(QC_rare_mutations == 'good' | QC_rare_mutations == 'mediocre')"

subsample:
  b1: >-
    --group-by year month country
    --subsample-max-sequences 5000
    --exclude-where
    outbreak!=hMPXV-1
    clade!=IIb
    lineage=A
    lineage=A.1
    lineage=A.1.1
    lineage=A.2
    lineage=A.2.1
    lineage=H.1
    lineage=H.2
    lineage=A.2.2
    lineage=G.1
    lineage=A.2.3
    lineage=A.2.4
    lineage=A.2.5
    lineage=A.3

## align
max_indel: 10000
seed_spacing: 1000

## treefix
fix_tree: true
treefix_root: "PP_000VYPY"

## refine
timetree: true
root: "PP_000VYPY"
clock_rate: 5.7e-5
clock_std_dev: 2e-5
divergence_units: "mutations"

traits:
  columns: []
  sampling_bias_correction: 3

## recency
recency: true

mask:
  from_beginning: 800
  from_end: 6422
  maskfile: "defaults/mask.bed"
