name: Rebuild all

on:
  workflow_dispatch:

jobs:
  rebuild_all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Repository Dispatch
        run: ./shared/vendored/scripts/trigger nextstrain/mpox rebuild
        env:
          PAT_GITHUB_DISPATCH: ${{ secrets.GH_TOKEN_NEXTSTRAIN_BOT_WORKFLOW_DISPATCH }}
