name: Rebuild hmpxv1-big

on:
  repository_dispatch:
    types:
      - rebuild
      - rebuild_hmpxv1-big

  workflow_dispatch:
    inputs:
      trial_name:
        description: "If set, result will be at nextstrain.org/staging/trial/trial_name/monkeypox/mpxv"
        required: false
      image:
        description: 'Specific container image to use for build (will override the default of "nextstrain build")'
        required: false

env:
  TRIAL_NAME: ${{ github.event.inputs.trial_name }}
  NEXTSTRAIN_DOCKER_IMAGE: ${{ github.event.inputs.image }}

jobs:
  rebuild_hmpxv1_big:
    runs-on: ubuntu-latest
    env:
      GITHUB_RUN_ID: ${{ github.run_id }}
      SLACK_CHANNELS: monkeypox-updates
      SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: nextstrain/.github/actions/setup-nextstrain-cli@master
        with:
          cli-version: ">=7.1.0"
          python-version: "3.10"

      - name: launch_build
        run: |
          nextstrain build \
            --aws-batch \
            --detach \
            --no-download \
            --cpus 8 \
            --memory 68gib \
            --env AWS_DEFAULT_REGION \
            --env AWS_ACCESS_KEY_ID \
            --env AWS_SECRET_ACCESS_KEY \
            --env GITHUB_RUN_ID \
            --env SLACK_TOKEN \
            --env SLACK_CHANNELS \
            . \
              notify_on_deploy \
                --configfiles config/config_hmpxv1_big.yaml config/nextstrain_automation.yaml \
                --config auspice_prefix=trial_$TRIAL_NAME
        env:
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: notify_pipeline_failed
        if: ${{ failure() }}
        run: ./bin/notify-on-error
